.recipe {
    background-image: linear-gradient(45deg, yellow, aliceblue);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.foodCard:hover {
    box-shadow: 2px 2px 15px 5px lightblue;
    transition-duration: 200ms;
}

.selectionCart {
    background-image: linear-gradient(45deg, #A75D5D, #0081B4);
    background-size: 100%;
    background-repeat: repeat;
}

.forSticky{
    display: flex;
    justify-content: center;
}
/* style={{
    backgroundImage: "linear-gradient(45deg, black, white)",
    backgroundSize: "100%",
    backgroundRepeat: "repeat"
}} */